@model IEnumerable<JogosDeGuerraModel.Batalha>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container centered">

    <h2 style="color:#fff">Index </h2>

    <p style="color:#fff">
        @Html.ActionLink("Create New", "Create")
    </p>
    <table style="color:#fff" class="table">
        <tr>
            <th style="color:#fff">
                Exercito Branco
            </th>
            <th style="color:#fff">
                Exercito Preto
            </th>
            <th style="color:#fff">
                Turno
            </th>
            <th style="color:#fff">
                Vencedor
            </th>
            <th style="color:#fff">
                Estado
            </th>
            <th style="color:#fff"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="color:#fff">
                    @Html.DisplayFor(modelItem => item.ExercitoBranco.Usuario.Email)
                </td>
                <td style="color:#fff">
                    @Html.DisplayFor(modelItem => item.ExercitoPreto.Usuario.Email)
                </td>
                <td style="color:#fff">
                    @if (item.Turno == null)
                    {
                        @Html.Label("-");
                    }
                    else if (item.TurnoId == item.ExercitoBrancoId)
                    {
                        @Html.Label("Exercito Branco");
                    }
                    else if (item.TurnoId != item.ExercitoBrancoId)
                    {
                        @Html.Label("Exercito Preto");
                    }
                </td>
                <td style="color:#fff">
                    @if (item.Vencedor != null)
                    {
                        @Html.DisplayFor(modelItem => item.Vencedor.Usuario.Email)
                    }
                    else
                    {
                        @Html.Label("-");
                    }
                </td>
                <td style="color:#fff">
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td style="color:#fff">
                    @if (item.Estado == JogosDeGuerraModel.Batalha.EstadoBatalhaEnum.NaoIniciado)
                    { 
                    @Html.ActionLink("Iniciar Batalha ", "Iniciar", new { id = item.Id }) 
                    @Html.Label("|");
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    
                </td>
            </tr>
        }

    </table>
</div>
